@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-100 antialiased;
  }
  html {
    /* Это заставит браузер плавно скроллить до якоря, 
       запуская все наши анимации по пути */
    scroll-behavior: smooth !important;
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/40 backdrop-blur-xl border border-white/10 shadow-lg;
  }
  
  .container-width {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .bg-tech-grid {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(128, 128, 128, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px);
  }

  .bg-tech-grid-spotlight {
    background-size: 40px 40px;
    background-image: 
      linear-gradient(to right, rgba(59, 130, 246, 0.2) 1px, transparent 1px), /* Blue-500 opacity 0.2 */
      linear-gradient(to bottom, rgba(59, 130, 246, 0.2) 1px, transparent 1px);
  }
}